/* programmeerproject
   Marije Dekker, 10785949 */
   
/* general */
* {
	color: #49006a;
}
.onHover {
	cursor: pointer;
}
/* title */
#projectTitle {
	border-bottom: 3px solid #7a0177;
	border-top: 3px solid #7a0177;
	background-color: #fa9fb5;
	text-align: center;
}
#name {
	font-size: 85%;
}
/* worldmap */
#drugmap{
	margin-left: 50px;
}
#drugmapTitle {
	width: 900px;
	text-align: center;
	position: absolute;
}
.drugMenu {
	border: none;
}
#drugmapInformation {
	width: 450px;
	margin-top: 675px;
	margin-left: 525px;
	position: absolute;
}
#drugDataInformation {
	position: absolute;
	margin-top: 675px;
	width: 450px;
}
div p a, div ul a {
	color: #49006a;
	text-decoration: none;
}
#drugmapFacts {
	position: absolute;
	width: 500px;
	margin-top: 725px;
	font-size: 95%;
}
#map {
	width: 950px;
	height: 500px;
	background-color: #e6ffff;
	position: absolute;
	margin-top: 175px;
}
.datamaps-subunit {
	cursor: pointer;
}
.datamaps-legend {
	width: 100px;
	margin-left: 25px;
	top: 300px;
}
dd {
    border: 1px solid #666666;
}
dt {
	min-width:70px;
}
/* piechart */
#piechart {
	width: 600px;
	position: fixed;
	margin-left: 1050px;
	text-align: center;
}
#donutTitle {
	width: 600px;
}
#donutFacts {
	width: 600px;
	text-align: center;
	font-size: 95%;
}
polyline {
	opacity: .5;
	stroke: purple;
	stroke-width: 1px;
	fill: none;
}
.clickedCountry {
	height: 20px;
	width: 600px;
	position: absolute;
	margin-top: 240px;
}
/* scatterplot */
#scatterplot {
	position: absolute;
	margin-top: 900px;
	margin-left: 150px;
	padding-bottom: 100px;
}
#plotTitle {
	width: 600px;
	text-align: center;
}
#plot {
	height: 450px;
	float: left;
	position: absolute;
	margin-left: 100px;
}
#plotFacts {
	position: absolute;
	width: 600px;
	margin-top: 540px;
	margin-left: 75px;
	padding-bottom: 20px;
	font-size: 90%;
}
#plotInfluenceMenu {
	position: absolute;
	margin-left: 300px;
	margin-top: 450px;
}
#plotDrugMenu {
	margin-top: 150px;
	position: absolute;
}
.plotInfluenceMenu, .plotDrugMenu {
	border: none;
}
#dropout, #education, #poverty, #prison, #smoking, #unemployment {
	position: absolute;
	margin-top: 495px;
	margin-left: 50px;
	width: 600px;
	font-size: 85%;
	text-align: center;
}
.aboveDrugMenu, .aboveInfluenceMenu {
	border: none;
	width: 97px;
	margin-bottom: 0px;
	padding-left:5px;
}
.aboveInfluenceMenu {
	width: 117px;
}
.dot {
	stroke: #999999;
}
/* axes */
.axis text {
  	font-size: 10px;
}
.axis line, .axis path {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}
/* tooltips */
.donutTip, .plotTip {
  pointer-events: none;
  border: #fa9fb5 solid 5px;
  border-radius: 5%;
  position: absolute;
  background-color: #fa9fb5;
}