/* programmeerproject
   Marije Dekker, 10785949 */

#container {
	width: 1000px;
	height: 600px;
	margin-top: 20px;
	background-color: #e6ffff;
	border: #49006a 1px solid;
}

.piechart {
	width: 650px;
	height: 350px;
	position: fixed;
	margin-left: 1050px;
	margin-top: 0px;
}

.drugmap {
	width:1000px;
	height: 750px;
}
.datamaps-legend {
	width: 100px;
	margin-left: 25px;
	top: 600px;
}

dd {
    border: 1px solid #666666;
}

dt {
	min-width:70px;
}

#sortinfluence {
	margin-left: 450px;
	margin-top: 20px;
	width: 200px;
	height: 15px;
}

.purple {
	color:#49006a;
}

.chart {
	height: 450px;
	float: left;
	position: absolute;
	margin-left: 100px;
}

h1 {
	border-bottom: 2px solid #49006a;
	border-top: 2px solid #49006a;
	background-color: #f768a1;
	text-align: center;
	height: 75px;
	padding-top: 15px;
}

.centerText {
	text-align: center;
}

.aboveDrugMenu, .aboveInfluenceMenu{
	border: 0.5px #b3b3b3 solid;
	border-bottom: none;
	width: 97px;
	margin-bottom: 0px;
	padding-left:26px;
}
.aboveInfluenceMenu {
	width: 117px;
}

.drugmenu, .scatterdrugmenu, .scatterinfluencemenu {
	border-top: none;
}

.onHover {
	cursor: pointer;
}

path.slice{
	stroke-width: 1px;
}

polyline{
	opacity: .3;
	stroke: purple;
	stroke-width: 1px;
	fill: none;
}

noOverlap {
	padding-top: 20px;
	display: block;
}

.clickedCountry {
	height: 20px;
	width: 650px;
	position: absolute;
	margin-top: 265px;
}


.tooltip {
  pointer-events: none;
  border: #00ffff solid 5px;
  border-radius: 10%;
  position: absolute;
  background-color: #00ffff;
}

.toolTip {
  pointer-events: none;
  border: #fa9fb5 solid 5px;
  border-radius: 5%;
  position: absolute;
  background-color: #fa9fb5;
}
.dot {
	stroke: #999999;
}
.scatterInfluence {
	position: absolute;
	margin-left: 300px;
	margin-top: 450px;
}

.scatterDrug {
	margin-top: 150px;
	position: absolute;
}

footer { 
    display: block;
    border-top: #dd3497 solid 3px;
    background-color: #fa9fb5;
    margin-top: 600px;
}
.datamaps-subunit {
	cursor: pointer;
}